<a href="https://colab.research.google.com/github/Enjelinaummi/python_for_datascience/blob/main/Task_of_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Basic Python

## Variable

In [ ]:
# Informasi Kafe
nama_kafe = 'Halo & Hearth Café'
alamat_kafe = 'Jl. Surga No. 88, Bandung'
nomor_cs = '+62801-0029-9000'

# Jam Buka Kafe
jam_buka = {"Sunday": "09:00 - 22:00"}

# Menu Makanan
menu_makanan = {
    "Pasta": 35000,
    "Salad": 25000,
    "Burger": 45000,
    "Pizza": 55000,
    "Steak": 85000,
    "Fries": 20000
}

# Menu Minuman
menu_minuman = {
    "Latte": 25000,
    "Espresso": 20000,
    "Matcha": 30000,
    "Iced Tea": 15000,
    "Smoothie": 40000,
    "Mojito": 35000
}

In [ ]:
print("Nama Kafe:", nama_kafe)
print("Alamat:", alamat_kafe)
print("Nomor CS:", nomor_cs)
print("Jam Buka Senin:", jam_buka["Monday"])
print("Harga Burger:", menu_makanan["Burger"])
print("Harga Latte:", menu_minuman["Latte"])

Nama Kafe: Halo & Hearth Café
Alamat: Jl. Surga No. 88, Bandung
Nomor CS: +62801-0029-9000
Jam Buka Senin: 09:00 - 22:00
Harga Burger: 45000
Harga Latte: 25000

In [ ]:
#@title Variable with Input

nama_pemesan = input("Masukkan nama pemesan: ")
menu_makanan = input("Masukkan menu makanan yang dipilih: ")
menu_minuman = input("Masukkan menu minuman yang dipilih: ")

Masukkan nama pemesan: Angel
Masukkan menu makanan yang dipilih: Pasta
Masukkan menu minuman yang dipilih: Latte

In [ ]:
print("\nDetail Pesanan:")
print("Nama Pemesan:", nama_pemesan)
print("Menu Makanan:", menu_makanan)
print("Menu Minuman:", menu_minuman)

Detail Pesanan:
Nama Pemesan: Angel
Menu Makanan: Pasta
Menu Minuman: Latte

In [ ]:
#@title Calculate with Variable

nama_pemesan = "Angel"
harga_pasta = 35000
harga_latte = 25000
total_harga = harga_pasta + harga_latte

print("Nama Pemesan:", nama_pemesan)
print("Total Harga Pesanan:", total_harga)

Nama Pemesan: Angel
Total Harga Pesanan: 60000

In [ ]:
#@title Update Value Variable
harga_ekstra = 10000
total_harga += harga_ekstra

In [ ]:
print("Nama Pemesan:", nama_pemesan)
print("Makanan:", menu_makanan)
print("Minuman:", menu_minuman)
print("Ekstra:", "Beef", harga_ekstra)
print("Total Harga Pesanan:", total_harga)

Nama Pemesan: Angel
Makanan: Pasta
Minuman: Latte
Ekstra: Beef 10000
Total Harga Pesanan: 70000

## Data Type

In [ ]:
#@title Numeric Data Type

burger_price = 45000  # Integer (bilangan bulat)
average_rating = 4.7  # Float (bilangan desimal)

In [ ]:
print("Harga Burger:", burger_price)
print("Rating :", average_rating)

Harga Burger: 45000
Rating : 4.7

In [ ]:
#@title String Data Type

nama_kafe = "Halo & Hearth Café"
alamat_kafe = "Jl. Surga No. 88, Bandung"
nomor_cs = "+62801-0029-9000"

In [ ]:
print("Nama Kafe:", nama_kafe)
print("Alamat Kafe:", alamat_kafe)
print("Nomor CS:", nomor_cs)

Nama Kafe: Halo & Hearth Café
Alamat Kafe: Jl. Surga No. 88, Bandung
Nomor CS: +62801-0029-9000

In [ ]:
#@title Boolean Data Type

is_open = True     # boolean True
is_closed = False    # boolean False

In [ ]:
print("Kafe Buka:", is_open)
print("Kafe Tutup:", is_closed)

Kafe Buka: True
Kafe Tutup: False

In [ ]:
#@title List Data Type

menu_makanan = ["Pasta", "Salad", "Burger", "Pizza", "Steak", "Fries"]  # list
menu_makanan = ["Latte", "Espresso", "Matcha", "Iced Tea", "Smoothie", "Mojito"] # list

In [ ]:
print("Menu Makanan:", menu_makanan)
print("Menu Minuman:", menu_minuman)

Menu Makanan: ['Pasta', 'Salad', 'Burger', 'Pizza', 'Steak', 'Fries']
Menu Minuman: ['Latte', 'Espresso', 'Matcha', 'Iced Tea', 'Smoothie', 'Mojito']

In [ ]:
#@title Tuple Data Type

hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')  #
jam_buka = ("09:00", "22:00")

In [ ]:
print("Hari :", hari)
print("Jam Buka Kafe:", jam_buka)

Hari : ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')
Jam Buka Kafe: ('09:00', '22:00')

In [ ]:
#@title Set Data Type

populer_menu_items = {"Pasta", "Salad", "Steak", "Fries", "Latte", "Espresso", "Matcha", "Iced Tea", "Smoothie", "Mojito"}  # set

In [ ]:
print("Buah :", populer_menu_items)

Buah : {'Salad', 'Espresso', 'Iced Tea', 'Latte', 'Fries', 'Pasta', 'Smoothie', 'Steak', 'Mojito', 'Matcha'}

In [ ]:
#@title Dictionary Data Type
data_kafe = {
    'nama': 'Halo & Hearth Café',
    'alamat': 'Jl. Surga No. 88, Bandung',
    'nomor_cs': '+62801-0029-9000',}

In [ ]:
print("Informasi Kafe:")
print("Nama Kafe:", data_kafe['nama'])
print("Alamat Kafe:", data_kafe['alamat'])
print("Nomor CS:", data_kafe['nomor_cs'])

Informasi Kafe:
Nama Kafe: Halo & Hearth Café
Alamat Kafe: Jl. Surga No. 88, Bandung
Nomor CS: +62801-0029-9000

In [ ]:
# Numeric Data Type
burger_price = 45000  # Integer (bilangan bulat)
average_rating = 4.7  # Float (bilangan desimal)
print("Tipe Data burger_price:", type(burger_price))  # Output: <class 'int'>
print("Tipe Data average_rating:", type(average_rating))  # Output: <class 'float'>

# String Data Type
nama_kafe = "Halo & Hearth Café"
alamat_kafe = "Jl. Surga No. 88, Bandung"
nomor_cs = "+62801-0029-9000"
print("Tipe Data nama_kafe:", type(nama_kafe))  # Output: <class 'str'>
print("Tipe Data alamat_kafe:", type(alamat_kafe))  # Output: <class 'str'>
print("Tipe Data nomor_cs:", type(nomor_cs))  # Output: <class 'str'>

# Boolean Data Type
is_open = True     # boolean True
is_closed = False  # boolean False
print("Tipe Data is_open:", type(is_open))  # Output: <class 'bool'>
print("Tipe Data is_closed:", type(is_closed))  # Output: <class 'bool'>

# List Data Type
menu_makanan = ["Pasta", "Salad", "Burger", "Pizza", "Steak", "Fries"]
menu_minuman = ["Latte", "Espresso", "Matcha", "Iced Tea", "Smoothie", "Mojito"]
print("Tipe Data menu_makanan:", type(menu_makanan))  # Output: <class 'list'>
print("Tipe Data menu_minuman:", type(menu_minuman))  # Output: <class 'list'>

# Tuple Data Type
hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')
jam_buka = ("09:00", "22:00")
print("Tipe Data hari:", type(hari))  # Output: <class 'tuple'>
print("Tipe Data jam_buka:", type(jam_buka))  # Output: <class 'tuple'>

# Set Data Type
populer_menu_items = {"Pasta", "Salad", "Steak", "Fries", "Latte", "Espresso", "Matcha", "Iced Tea", "Smoothie", "Mojito"}
print("Tipe Data populer_menu_items:", type(populer_menu_items))  # Output: <class 'set'>

# Dictionary Data Type
data_kafe = {
    'nama': 'Halo & Hearth Café',
    'alamat': 'Jl. Surga No. 88, Bandung',
    'nomor_cs': '+62801-0029-9000',}

print("Tipe Data data_kafe:", type(data_kafe))  # Output: <class 'dict'>

Tipe Data burger_price: <class 'int'>
Tipe Data average_rating: <class 'float'>
Tipe Data nama_kafe: <class 'str'>
Tipe Data alamat_kafe: <class 'str'>
Tipe Data nomor_cs: <class 'str'>
Tipe Data is_open: <class 'bool'>
Tipe Data is_closed: <class 'bool'>
Tipe Data menu_makanan: <class 'list'>
Tipe Data menu_minuman: <class 'list'>
Tipe Data hari: <class 'tuple'>
Tipe Data jam_buka: <class 'tuple'>
Tipe Data populer_menu_items: <class 'set'>
Tipe Data data_kafe: <class 'dict'>

## Basic arithmetic operation

In [ ]:
#@title Penjumlahan
harga_pasta = 35000
harga_salad = 25000
total_harga = harga_pasta + harga_salad

print("Total Harga (Penjumlahan):", total_harga)

Total Harga (Penjumlahan): 60000

In [ ]:
#@title Pengurangan
harga_pizza = 55000
diskon = 10000
harga_setelah_diskon = harga_pizza - diskon

print("Harga Setelah Diskon (Pengurangan):", harga_setelah_diskon)

Harga Setelah Diskon (Pengurangan): 45000

In [ ]:
#@title Perkalian
jumlah_burger = 3
harga_burger = 45000
total_burger = jumlah_burger * harga_burger

print("Total Harga Burger (Perkalian):", total_burger)

Total Harga Burger (Perkalian): 135000

In [ ]:
#@title Pembagian

total_harga_menu = 120000
jumlah_pelanggan = 4
harga_per_orang = total_harga_menu / jumlah_pelanggan

print("Harga Per Orang (Pembagian):", harga_per_orang)

Harga Per Orang (Pembagian): 30000.0

In [ ]:
#@title Pembagian Bulat

total_harga = 125000
jumlah_anggota = 6
harga_per_anggota = total_harga // jumlah_anggota

print("Harga Per Anggota (Pembagian Bulat):", harga_per_anggota)

Harga Per Anggota (Pembagian Bulat): 20833

In [ ]:
#@title Modulus

total_pizza_harga = 55000
pembayaran_pelanggan = 60000
kembalian = pembayaran_pelanggan % total_pizza_harga

print("Kembalian (Modulus):", kembalian)

Kembalian (Modulus): 5000

In [ ]:
harga_burger = 45000
kuadrat_harga_burger = harga_burger ** 2

print("Kuadrat Harga Burger (Pangkat):", kuadrat_harga_burger)

Kuadrat Harga Burger (Pangkat): 2025000000

## String Manipulation

In [ ]:
#@title Concatenation

nama_kafe = "Halo & Hearth Café"
alamat_kafe = "Jl. Surga No. 88, Bandung"
info_kafe = nama_kafe + " - " + alamat_kafe

print("Informasi Kafe (Concatenation):", info_kafe)

Informasi Kafe (Concatenation): Halo & Hearth Café - Jl. Surga No. 88, Bandung

In [ ]:
#@title Multiplication

nama_kafe = "Halo & Hearth Café"

# Indexing
a = nama_kafe[0]   # Karakter pertama
b = nama_kafe[5]   # Karakter ke-6
c = nama_kafe[-1]  # Karakter terakhir
d = nama_kafe[-12] # Karakter ke-12 dari belakang
e = len(nama_kafe) # Panjang string

print(nama_kafe)
print(a)
print(b)
print(c)
print(e)

Halo & Hearth Café
H
&
é
18

In [ ]:
#@title Slicing
# start:end
# start:end:lompatan

a = "Halo Dunia"
b = a[0:6]
c = a[0:8:2]
print(b)
print(c) # Output: "Halo"

Halo D
Hl u

In [ ]:
#@title Replace
# replace(oldvalue, newvalue)

a = "Halo Dunia"
b = a.replace("Dunia", "Semua")
print(b) # Output: "Halo Semua"

Halo Semua

In [ ]:
#@title Lowercase

a = "Halo Dunia"
b = a.lower()
print(b) # Output: "halo dunia"

halo dunia

In [ ]:
#@title Uppercase

a = "Halo Dunia"
b = a.upper()
print(b) # Output: "HALO DUNIA"

HALO DUNIA

In [ ]:
#@title Capitalize

a = "Halo Dunia"
b = a.capitalize()
print(b) # Output: "Halo dunia"

Halo dunia

In [ ]:
print(a.capitalize())

Halo dunia

In [ ]:
#@title Split

a = "Halo, Dunia, Semua"
b = a.split(", ")
print(type(a))
print(b)
print(type(b))
print(b[1]) # Output: ["Halo", "Dunia", "Semua"]

<class 'str'>
['Halo', 'Dunia', 'Semua']
<class 'list'>
Dunia

In [ ]:
#@title Join

a = ["Halo", "Dunia", "Semua"]
b = ", ".join(a)

print(type(a))
print(a)

print("========")
print(type(b))
print(b) # Output: "Halo, Dunia, Semua"

<class 'list'>
['Halo', 'Dunia', 'Semua']
========
<class 'str'>
Halo, Dunia, Semua

## Typecasting

In [ ]:
#@title Data Type Casting - Integer

x = '5'
y = int(x)

print(type(x))
print(y)    # Output: 5
print(type(y)) # Output: int

<class 'str'>
5
<class 'int'>

In [ ]:
#@title Data Type Casting - Float


x = '3'
y = float(x)
print(y)    # Output: 3.14
print(type(y)) # Output: float

3.0
<class 'float'>

In [ ]:
#@title Data Type Casting - String

x = 5
y = str(x)

print(type(x))
print(y)    # Output: '5'
print(type(y)) # Output: str

<class 'int'>
5
<class 'str'>

In [ ]:
#@title Data Type Casting - Boolean

x = ''
y = bool(x)
print(y)    # Output: False
print(type(y)) # Output: bool

False
<class 'bool'>

## Latihan

1. Buat contoh :
- Variabel
- Data type
- Arithmatic
- manipulation
- type casting

2. Diberikan nomor telepon berikut.

phone_num = “+62801-0029-9000”

ganti “+62” menjadi “0” dan hilangkan simbol “-”

In [ ]:
phone_num = "+62801-0029-9000"
formatted_phone = phone_num.replace("+62", "0").replace("-", "")
print(formatted_phone)

080100299000